[package]
name = "api"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = "0.8.8"
tokio = {version = "1.49.0" ,features = ["full"] }

tracing = "0.1"
tracing-subscriber = "0.3"

anyhow = "1.0"
